
@{
    ViewData["Title"] = "SearchKaroo";
}

<h1>SearchKaroo</h1>

<table border="0">
       <tr>
        <form method="post" action="/Karoo/Create0"> 
            @*<th>Введите номер собаки для поиска</th>
            <th><input type="text" name="NewTagNumber" value="" /></th>*@
            <th><input type="submit" value="Поиск" class="btn btn-primary" /> </th>
        </form>
       <tr/>
</table>

