@model WEBDOG.Models.DogDaaryModel

@{
    ViewData["Title"] = "Создать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Лечения бешенства</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="DogId" />            
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dose" class="control-label"></label>
                @*<input asp-for="Dose"  type="number" class="form-control" />*@
                <input asp-for="Dose"  class="form-control" />
                <span asp-validation-for="Dose" class="text-danger"></span>
            </div>          
            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
                <a class ="btn btn-dark" asp-area="" asp-controller="Dog" asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
     <script type="text/javascript">
         
      
        $.validator.methods.range = function (value, element, param) 
        {
          var globalizedValue = value.replace(",", ".");
          return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }
 
        $.validator.methods.number = function (value, element)
        {
          return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }

        //$.validator.methods.number = function(value, element) {
        //    return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:\.\d{3})+)?(?:,\d+)?$/.test(value);
        //}

    </script>
}
