    <footer class="border-top footer text-muted">
        <div class="text-center">
            &copy; Untitled. All rights reserved. | <a href="https://agro.gov.kg/language/ru/%D0%BE%D1%80%D1%81%D0%BF/">Отдел реализации сельскохозяйственных проектов</a> - 2022
        </div>
    </footer>
     
    